/* ========= fonts =========== */


@font-face {
    font-family: "Gothic";
    src: url("../fonts/League_Gothic-webfont.woff");
}
@font-face {
	font-family: "Goudy";
	src: url("../fonts/GoudyStM-webfont.woff");
}
@font-face {
	font-family: "Goudy";
	font-style: italic;
	src: url("../fonts/GoudyStM-Italic-webfont.woff");
}

#content {
	font-size: 13pt;
    font-family: 'Crimson', Georgia, Times, serif;
}
p {
	line-height: 140%;
}
h1,h2,h3 {
    font-size: 300%;
    word-spacing: 3px;
    text-transform: none;
    font-family: Gothic, Helvetica, Verdana, Arial, sans-serif;
}
h2 {
	color: #ff2b0d;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 130%;
}
h3 {
	font-size: 200%;
}



/* ============ colors and backgrounds ============ */
/*
#book_content {
	background-color: white;
	background-image: url(../images/graytexture.png);
}
*/
#header {
	background-image: url(../images/bluenoise.png);
	background-color: #00ebe7;
	background-position: 100% 100%;
	background-repeat: repeat;	
}
#header h1 { color: white; }
#header h2 { color: black; }


/*  ==========  basic structure  =========  */

body {
    margin: 0;
    padding: 0;
}
#book_content, #content {
    border: 0px solid red;
    margin:0;
    padding:0;
}


#content {
	margin:  0;
	padding: 0;
	border: 0px solid red;
	margin-left:  auto;
	margin-right: auto;
}

#header {
    border: 1px solid #06e6e3;
    padding: 0;
    margin:  0;
}

#header * {
	margin-left: auto;
	margin-right: auto;
	border: 0px solid red;
}

#content, #header * {
	max-width: 600px;
}


#header h1 { font-size:  350%; }
#header h2 { padding-top: 1em; }


/* debugging */
/*
#content, #header, #header * { border: 3px solid purple; }
*/


/* ============= GENERAL CONTENT STYLES ============== */


/* ==== links ==== */
a {
	color: black;
	text-decoration: none;
	border: 1px solid #009994;
	border-width: 0 0 1px 0;
}
a.noborder {
    border-width: 0;
}
#content h3 a {
	border-width: 0;
}


/*  ==========  inline code  =========  */

pre, canvas {
	background-color: white;
	padding: 0.8em;
	border-color: #e1dedb;
	border-style: solid;
	border-width: 1px;
	overflow: auto;
	padding: 1em;
	color: #484848;
	}
	
pre span {
	display:block;
	white-space: pre-wrap;
	padding-left: 2em;
	text-indent: -2em;
	background-image: url(../images/code_wrap.png);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 16px;
	font-size: 75%;
	border: 0px solid red;
}



/* ========== tables =========== */

table {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	border-collapse: collapse;
	border: 1px solid gray;
	
}
td, th {
	padding-left: 0.5em;
	padding-bottom: 0.3em;
	padding-right: 0.5em;
	padding-top: 0.3em;
	border: 1px solid gray;
}

th {
	font-style: normal;
	font-weight: normal;
	color: white;
	background-color: #9f9f9f;
}




/* === glossary notes ==== */


.glossary {
	padding-right: 0.4em;
	padding-left: 0.4em;
	border-color: #c2c2c2;
	border-style: none;
	border-width: 1px;
	background-color: #ededed;
	color: #3d393b;
	border-radius: 1em;
}
.glossary:hover {

}

#glossary_popup {
	position: fixed;
	top: 0;
	left: 0;
	border: 2px solid #000000;
	border-radius: 0.5em;
	background-color: #fefffe;
	width: 15em;
	padding: 0.5em;
	margin: 0;
	background-color: rgba(255,255,255,0.95);
}
#glossary_popup h4 {
	padding: 0; margin: 0;
	font-family: Helvetica;
	text-align: center;
}
#glossary_popup p {
	padding: 0; margin: 0;
}


/* ==== general utility stuff ==== */
/*
.float-left { float:left; }
.float-right { float:right; }
*/

/* ======== adapt for mobile ======== */

/* ipad portrait size and smaller */
/*
@media all and (max-width:800px) {
	.photo img { max-width: 100%; }

	#header h1 { font-size: 350%; }
	#header h2 { font-size: 100%; }
	#header { background-size: 8em; }
	
	body {
		font-size: 11pt;
	}
}
*/
/* iphone landscape mode and smaller */

/*
@media all and (max-width: 480px) {
	body {
		font-size: 10pt;
		margin: 0em 1em 5em 1em;

	}
	#header h1 { font-size: 250%; }
	#header h2 { font-size: 80%; }
	#header { background-size: 4em; }
	#chapternav {
		font-size: 80%;
		padding: 0; margin: 0;
		white-space: nowrap;
	}
	#chapternav a {
		padding: 0.4em;
		margin: 0;
	}
}
*/

#book_content.fontsmall  { font-size: 10pt; }
#book_content.fontmedium { font-size: 13pt; }
#book_content.fontlarge  { font-size: 16pt; }



#toc {
    padding-left:0;
    margin-left:0;
}
#toc li {
	padding: 0.3em;
    list-style: none;
}
.chapnav {
    position: relative;
    padding: 1em;
    border: 0px solid black;
    left: 0;
    right: 0;
    font-size: 130%;
    font-weight: normal;
    text-transform: none;
    font-family: Gothic, Helvetica, Verdana, Arial, sans-serif;

}
.chapnav.top {
    position: absolute;
    top: 0;
}
.chapnav.bottom {
    /*
    position: absolute;
    bottom: 0;
    */
/*    padding-top: 3em;*/
}
.chapnav a {
    padding: 0.5em;
    margin: 0.5em;
    border: 0px solid gray;
    position: absolute;
    text-decoration: underline;
    top: 0;
}
.chapnav .prevchap { left: 0;  }
.chapnav .nextchap { right: 0; }

.chapnav.bottom a {
    padding-top: 3em;
    padding-bottom: 3em;
}
