/* ========= fonts =========== */

@font-face {
    font-family: "Gothic";
    src: url("../fonts/League_Gothic-webfont.woff");
}
@font-face {
	font-family: "Goudy";
	src: url("../fonts/GoudyStM-webfont.woff");
}
@font-face {
	font-family: "Goudy";
	font-style: italic;
	src: url("../fonts/GoudyStM-Italic-webfont.woff");
}
body {
	font-size: 13pt;
    font-family: 'Crimson', Georgia, Times, serif;
}
p {
	line-height: 140%;
}
h1,h2,h3 {
    font-size: 300%;
    word-spacing: 3px;
    text-transform: none;
    font-family: Gothic, Helvetica, Verdana, Arial, sans-serif;
}
h2 {
	color: #ff2b0d;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 130%;
}
h3 {
	font-size: 200%;
}
#footer {
	font-family: Helvetica, Verdana, Arial, sans-serif;
}





/* ============ colors and backgrounds ============ */

body {
	background-color: white;
	background-image: url(../images/graytexture.png);
}

#header {
	background-image: url(../images/bluenoise.png);
	border: 1px solid red;
	background-color: #00ebe7;
	border-width: 0px;
	background-position: 100% 100%;
	background-repeat: repeat;	
}
#header h1 { color: white; }
#header h2 { color: black; }
#footer {
	color: #555555;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 1px;
	border-style: solid;
	border-color: #c9c9c9;
	background-color: #f0f0f0;
	background-image: url(../images/graytexture.png);
}







/*  ==========  basic structure  =========  */
body {
	margin: 0em 5em 5em 5em;
}
#content, #header {
	margin: 0;
	padding: 0;
}
#content {
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0rem;
	width: 100%;
	max-width: 40rem;
}
#header {
	margin-left: -5em;
	margin-right: -5em;
	padding-left: 5em;
	padding-right: 5em;
}
#header * {
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 0rem;
	width: 100%;
	max-width: 40rem;
}

#header h1 { font-size:  400%; }
#header h2 { padding-top: 4em; }



/* debugging */
/*
#content, #header, #header * { border: 3px solid purple; }
*/



/* =========== footer structure ============ */

#footer {
	position: fixed;
	left: 0;
	width: 100%;
	bottom: 0;
	display: block;
	padding: 0.2em;
	margin: 0em;
}
#footer li {
	display: block;
	float: right;
	padding: 1em;
	border: 0px solid black;
	vertical-align: top;
	margin: 0;
}
#footer li:last-child {
	float: none;
}
#footer a {
	border-width: 0;
}
#footer li a {
	text-decoration: none;
}

#footer b {
	font-style: normal;
	font-weight: normal;
	padding-left: 1em;
	padding-right: 1em;
}
#fchapter {
	border: 1px solid #f0f0f0;
	padding: 0.3em;
}
#fchapter:hover {
	border: 1px solid #606060;
	background-color: #ddd;
}






/* ============= GENERAL CONTENT STYLES ============== */


/* ==== links ==== */
a {
	color: black;
	text-decoration: none;
	border: 1px solid #009994;
	border-width: 0 0 1px 0;
}
#content h3 a {
	border-width: 0;
}



/*  ==========  inline code  =========  */
pre {
	background-color: white;
	padding: 0.8em;
	border-color: #e1dedb;
	border-style: solid;
	border-width: 1px;
	overflow: auto;
	padding: 1em;
	color: #484848;
	}
	
pre.wrap span {
	display:block;
	white-space: pre-wrap;
	padding-left: 2em;
	text-indent: -2em;
	background-image: url(../images/code_wrap.png);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 16px;
	font-size: 75%;
	border: 0px solid red;
}



/* ========== tables =========== */
table {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	border-collapse: collapse;
	border: 1px solid gray;
	
}
td, th {
	padding-left: 0.5em;
	padding-bottom: 0.3em;
	padding-right: 0.5em;
	padding-top: 0.3em;
	border: 1px solid gray;
}

th {
	font-style: normal;
	font-weight: normal;
	color: white;
	background-color: #9f9f9f;
}


/* ==== chapter navigation ==== */

#chapternav {
	border:0px solid black;
	text-align: right;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}
#chapternav a {
	padding: 0.3em;
	margin: 0.5em;
	text-decoration: none;
	color: #666;
	border: 1px solid black;
	border-color: #aaa;
	border: 1px solid #f0f0f0;
}
#chapternav a:hover {
	border: 1px solid #606060;
	background-color: #ddd;
}



/* ========= table of contents menu =========== */

#toc {
	border-left-width: 0px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-style: solid;
	border-color: #aaa;
	color: #9b9b9b;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	visibility: hidden;
	position: fixed;
	left: 0;
	bottom: 3em;
	background-color: white;
	margin: 0;
	padding: 1em;
}
#toc li {
	list-style: none;
	margin: 0em;
	padding: 0.6em 1em;
	border: 0px solid #aaa;
	border-bottom-width: 1px;
}
#toc li:last-child {
	border: 0px;
}
#toc li a {
	text-decoration: none;
	color: #676767;
	border-width: 0;
}





/* === chapter footer fontsize ====== */
.fontsize {
/*    float: right;
    margin: 0;
    margin-right: 3em;*/
}
.fontsize { 
    border: 0px solid black; 
}

.fontsize a { 
    clear: both;
    border: 1px solid #444; 
	border: 1px solid #f0f0f0;
    padding: 0px; margin: 0px; 
    color: #222;       
    text-decoration: none;
    display: inline-block;
    width: 20px;
    text-align: center;
    vertical-align: bottom;
}
.fontsize a:hover {
	border: 1px solid #606060;
	background-color: #ddd;
}
.fontsize .selected {
	background-color: #bbb;
}
#set-font-small { font-size: 10pt; line-height: 18pt;}
#set-font-med { font-size: 14pt; line-height: 18pt;}
#set-font-large { font-size: 18pt; line-height: 18pt;}



/* === glossary notes ==== */


.glossary {
	padding-right: 0.4em;
	padding-left: 0.4em;
	border-color: #c2c2c2;
	border-style: none;
	border-width: 1px;
	background-color: #ededed;
	color: #3d393b;
	border-radius: 1em;
}
.glossary:hover {

}

#glossary_popup {
	position: fixed;
	top: 0;
	left: 0;
	border: 2px solid #000000;
	border-radius: 0.5em;
	background-color: #fefffe;
	width: 15em;
	padding: 0.5em;
	margin: 0;
	background-color: rgba(255,255,255,0.95);
}
#glossary_popup h4 {
	padding: 0; margin: 0;
	font-family: Helvetica;
	text-align: center;
}
#glossary_popup p {
	padding: 0; margin: 0;
}






/* ==== general utility stuff ==== */
.float-left { float:left; }
.float-right { float:right; }



/* ======== adapt for mobile ======== */

/* ipad portrait size and smaller */
@media all and (max-width:800px) {
	.photo img { max-width: 100%; }

	#header h1 { font-size: 350%; }
	#header h2 { font-size: 100%; }
	#header { background-size: 8em; }
	
	body {
		font-size: 11pt;
	}
}

/* iphone landscape mode and smaller */

@media all and (max-width: 480px) {
	body {
		font-size: 10pt;
	}
	#header h1 { font-size: 250%; }
	#header h2 { font-size: 80%; }
	#header { background-size: 4em; }
	#chapternav {
		font-size: 80%;
		padding: 0; margin: 0;
		white-space: nowrap;
	}
	#chapternav a {
		padding: 0.4em;
		margin: 0;
	}
}

